@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

header {
    height: 600px;
    width: 1100px;
    margin: 50px auto;
}

body {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    /* height: 600px; */
}

.header h1 {
    color: rgb(230, 83, 60);
}

.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 20px 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar button {
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 20px;
    margin-top: 18px;
    margin-right: 15px;
    background: rgb(230, 83, 60);
    color: white;
}

.join-video {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.join {
    width: 500px;
    margin-top: 65px;
}

.join h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 75px;
}

.join span {
    font-family: "Great Vibes", cursive;
}

.join p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.join button {
    padding: 8px 34px 8px 42px;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    font-size: large;
    cursor: pointer;
}

#join-btn-1 {
    background: rgb(230, 83, 60);
}

#join-btn-2 {
    background-color: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.video img {
    height: 500px;
    margin-right: 70px;

}

.video {
    position: relative;
}

.free-workout-videos {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 150px;
    order: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 80px;
    left: -80px;
}

.free-workout-videos p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 11px;
}

.free-workout-videos h1 {
    font-size: 24px;
    margin-top: 10px;
}

.tutorial-video {
    height: 70px;
    width: 150px;
    order: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    position: absolute;
    left: 200px;
    bottom: 330px;
}

.tutorial-video h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 5px;
}

.tutorial-video p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 11px;

}

.red-logo {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
}

/* header section style end */


/* habits section start here */
.habits {
    margin-top: 150px;
    width: 1100px;
    margin: 0 auto;
}

.habits-content {
    text-align: center;
}

.habits-content-title {
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 900;
}

.habits-content-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    width: 600px;
    margin: 0px auto;
}

.habits-images {
    display: flex;
}

.habits-img {
    margin-top: 50px;
    text-align: center;
}

.habits-img img {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.habits-img-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.habits-img-description {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* habit section style end here */

/* run section style start here */
.run {
    max-width: 1100px;
    margin: 100px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.run-division {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin: 0 auto;
    align-items: center;

}

.run-content {
    width: 400px;
}

.run-content-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.run-content-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.run-btn {
    padding: 12px 45px 12px 45px;
    border-radius: 50px;
    font-size: 14px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    cursor: pointer;
}

.run-image img {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

/* run section style end here */

/* bmi section style start here */
.bmi {
   
}
.bmi-content{
    width: 670px;
    margin: 0 auto;
    
}

.bmi-title {
    margin-top: 20px;
    font-size: 38px;
    font-weight: 900;
    line-height: 120%;
    color: rgb(255, 255, 255);
}

.bmi-description {
    
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.bmi-division {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    background: rgb(34, 34, 34);
}

.bmi-chart {
    max-width: 500px;
    margin-top: 40px;
}

.bmi-chart-title {
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.bmi-chart th {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.bmi-chart td {
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;

}

.bmi-calculator {
    max-width: 450px;
    margin-top: 40px;
}

.bmi-calculator-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.bmi-calculator-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.bmi-input input {
    padding: 12px 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.1);
}

.bmi-input-comment input {
    width: 363px;
    padding: 14px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
}

.bmi-btn {
    font-size: 14px;
    color: white;
    padding: 10px 40px;
    margin: 30px 3px 0px 3px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
}

/* responsive media querry */
@media screen and (max-width: 500px) {
    header {
        height: 1000px;
        max-width: 500px;
    }

    .header {
        width: 430px;
        margin: 0 auto;
        justify-content: space-between;
        /* align-items: center; */
    }

    .header h1 {
        font-size: 40px;
        font-weight: 900px;
    }

    .icon {
        margin-top: 15px;
        margin-right: 60px;
    }

    .navbar {
        display: none;
    }

    .navbar button {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    /* navbar responsive end here */

    .join-video {
        max-width: 500px;
        flex-direction: column;
        /* justify-content: center;
        text-align: center; */
    }

    .join {
        margin-left: 20px;
    }

    .join p {
        width: 400px;
    }

    .video {
        margin-top: 45px;
        margin-left: 90px;
    }

    /* habits section responsive start here */

    .habits {
        width: 500px;
    }

    .habits-images {
        flex-direction: column;
    }

    .habits-content-description {
        max-width: 450px;
    }

    /* habits section responsive end here */

    /* run section responsive start here */
    .run {
        width: 400px;
        height: 580px;
        margin: 100px auto;
        border-radius: 18px;
        background: rgb(34, 34, 34);
    }

    .run-division {
        flex-direction: column;
    }

    .run-content {
        width: 300px;
        margin-top: 20px;
    }

    .run-content-title {
        font-weight: 30px;
    }

    .run-content-description {
        margin-bottom: 10px;
    }

    .run-btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .run-image {}

    .run-image img {
        height: 250px;
        width: 300px;
    }

    /* run section responsive end here */
}


@media screen and (min-width: 501px) and (max-width: 1280px) {
    .icon {
        display: none;
    }
}